.page_row {
    display: flex;
    flex-wrap: wrap;
}

.client_area {
    margin-top: 2em;
}

.column {
    flex-basis: 100%;
}

/* mobile search */
.search_mobile__bar {
    width: 100%;
    position: absolute;
    top: 4em;
    list-style: none;
    padding: 20px 10px 10px 10px;
    background-color: #232323;
}

.search__inactive {
    display: none;
}

.search_mobile__search {
    position: relative;
}

.search_mobile__search a {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    color: white;
    padding: 10px;
}

/* mobile menu */

.mobile_menu__nav {
    height: 100vh;
    position: fixed;
    max-width: 300px;
    z-index: 9;
    color: #FFFF;
    background-color: black;
    width: 300px;
}

.mobile_menu__container {
    position: relative;
}

.mobile_menu__container span {
    position: absolute;
    top: 10%;
    right: 10px;
    padding: 10px 15px;
    font-size: 32px;
    display: none;
    transition: .3s;
}

.mobile_icons--fadeOut {
    left: 600px;
    position: relative;
}

.mobile_icons {
    transition: .3s linear;
}

.menu_close__active {
    display: block;
}

.mobile_menu__list {
    margin-top: 4em;
    padding: 10px 20px;
    list-style:none;
}

.mobile_menu__links {
    padding: 15px 30px;
    border-bottom: 2px solid white;
}

.menu_mobile__inactive {
    left: -300px;
}

.mobile_select--languages {
    background: transparent;
    border: none;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 60px;
}

.black {
    color: black;
}

.mobile_menu__nav--language form {
    position: relative;
}

.mobile_menu__nav--language form span {
    position: absolute;
    top: 0;
    left: 20%;
}

/* Main Content */

.logo_mobile {
    display: none;
}

.ticket_area {
    padding: 20px;
}

.ticket_area__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.ticket_area__price-table {
    text-align: right;
}

.ticket_area__price {
    font-size: 22px;
    font-weight: bold;
}

.ticket_area__sales {
    margin-bottom: .75em;
}

/* ticket */

.ticket {
    margin-top: 1em;
    padding: 20px;
    background-color: #EDECEC;
}

.ticket__content {
    display: flex;
    margin-top: .5em;
}

.ticket__top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: .5em;
    border-bottom: 1px solid #949494;
}

/* ticket card */

.ticket__content--no-img {
    display: flex;
    height: 80%;
    align-items: center;
}

.img_container {
    max-width: 150px;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.img_container img {
    max-width: 100%;
}

.img_overlay {
    position: absolute;
    height: 95%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(148,148,148,0) 34%, rgba(255,255,255,0) 100%, rgba(0,212,255,1) 100%);
}

.ticket__content--contain-img {
    display: flex;
    margin-top: 20px;
}

.ticket__main-info {
    margin-left: 2em;
}

.ticket__location {
    margin-top: 1.5em;
}


/* Sidebar */
.sidebar {
    padding: 20px;
}

.sidebar__container {
    display: flex;
    justify-content: space-around;
}

/* sidebar nav */

.sidebar__list {
    list-style: none;
    margin-bottom: 4em;
}

.sidebar__links {
    padding: 1em 2.5em;
    color: #3F3E3E;
    margin-bottom: 10px;
    border-left: 3px solid transparent;
}

.sidebar-active {
    border-left: 3px solid red;
}

.sidebar__links span {
    margin-right: 15px;
    font-size: 14px;
}

.sidebar__links a {
    color: inherit;
}

.sidebar__user--out {
    margin-left: 2.3em;
    font-size: 14px;
    text-decoration: underline;
    color: #3F3E3E;
    margin-top: 40px;
}

/* sidebar mobile */

.mobile_sidebar {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 9;
}

.mobile_sidebar__button {
    width: 20%;
    text-align: center;
    margin: 0 auto;
    color: white;
    background-color: #d41922;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.mobile_sidebar__content {
    color: white;
    display: flex;
    justify-content: center;
    background-color: #d41922;
}

.mobile_sidebar__list {
    list-style: none;
    padding:10px;
}

.mobile_sidebar__links {
    padding: 15px 20px;
    border-bottom: 1px solid white;
    width: 100%;
    text-align: center;
}

.mobile_sidebar__links a {
    color: inherit;
}

.mobile_sidebar__links a span {
    margin-right: 1em;
}

.mobile_sidebar__hidden {
    bottom: -500px;
    display: none;
}

.button_hidden {
    display: none;
}

.move-up {
    transform: translateY(150px);
    animation: move-up 0.8s ease forwards;
  }
  
.already-on-screen {
transform: translateY(0);
animation: none;
}

@keyframes move-up {
to { transform: translateY(0); }
}


/* media queries  Full-responsive*/

@media only screen and (max-width: 1260px) {
    .website_nav__search {
        display: none !important;
    }

    .website_nav li.search__bar--mobile {
        display: inline-block;
    }
}

@media only screen and (max-width: 1140px) {

    .logo_mobile {
        display: block;
        padding-left: 1em;
    }

    .logo_mobile img {
        max-width: 150px;
    }

    .sidebar__nav {
        width: 100%;
    }

    .mobile_sidebar__hidden {
        display: block;
    }

    .website_nav__links img {
        display: none !important;
    }

    .search_mobile__bar {
        top: 3em;
    }

    .search__bar--mobile {
        display: block;
    }

    .img_container {
        max-width: 250px;
    }

    .client_area {
        display: block;
    }

    .sidebar {
        display: none;
    }

    .website_nav__pages {
        display: none;
    }

    .website_nav__search {
        display: none !important;
    }
}

@media only screen and (max-width: 800px) {
    .img_container {
        max-width: 100%;
    }

    .ticket__content {
        flex-direction: column;
    }

    .ticket__content--contain-img {
        display: block;
        text-align: center;
    }

    .img_container {
        margin: 0 auto 10px auto;    
    }

    .img_overlay {
        height: 99%;
    }

    .ticket__main-info {
        margin-left: 0;
    }

    .ticket__header {
        text-align: center;
        padding: 10px;
    }

    .ticket__content--no-img {
        justify-content: center;
        padding: 10px;
    }
}

@media only screen and (max-width: 585px) {
    .page_container {
        padding: 0;
    }

    .search_mobile__bar {
        top: 3em;
    }

    .website_nav__list {
        font-size: .5rem;
    }

    .website_nav__language {
        display: none !important;
    }

    .website_nav__icons {
        padding: 0 25%;
        font-size: 1.2rem;
    }

    .website_nav__links img {
        display: none;
    }

    .ticket_area__title {
        font-size: 24px;
    }

    .ticket_area__sales {
        font-size: 14px;
    }
}

@media only screen and (max-width: 330px) {
    .website_area__ticket--top {
        display: block;
    }

    .sm--mb--1 {
        margin-bottom: 1em;
    }
}

@media screen and (min-width: 800px) {
    .column {
        flex: 1;
    }

    .sidebar {
        flex: 3;
    }

    .ticket_area {
        flex: 9;
    }

    .ticket__column--six {
        flex: 6;
    }

    .ticket__column--two {
        flex: 2;
    }

    .ticket__column--one {
        flex: 1;
    }

    .ticket__column--zero {
        flex: 0;
    }
}
